* { 
	box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  position: static;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

html { 
  background: url(bg.jpg) no-repeat center center scroll; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  transform: rotateX(180deg)
}

a {
  position: absolute;
  display: block;
  height: 200vw;
  width: 200vw;
  transform: rotate(53.15deg);
  transition: background 350ms ease-in-out;
}

a:hover {
  background: rgba(0,0,0,0.2);
}

a:first-of-type {
  right: -13.8%;
  bottom: 50%;
}

a:last-of-type {
	left: -19.6%;
  top: 50%;
}